@import "tailwindcss";


@theme {
  --color-spooky-background: #110504;
  --color-spooky-background-2: #1c0f1a;
  --color-spooky-background-3: #2a2a2a;
  --color-spooky-background-4: #3e2f4f;
  --color-spooky-backgorund-5: #262124;
  --color-spooky-background-6: #3b1f2b;
  --color-spooky-accent: #5C58A4;
  --color-spooky-font: #9C90BC;
  --color-spooky-error: #A3122F;
}